{% extends "compartidos/base.html" %}

{% block head %}<title>Detalle</title>{% endblock head %}

{% block h1_header %}
Detalle de la película
<p>{{pelicula.titulo}}</p> 
<img src="{{pelicula.portada.url}}" alt="" srcset="" height="100px">

{% endblock h1_header %}

{% block main %}

<ul>
    <li>Titulo: {{pelicula.titulo}}</li>
    <li>Director: {{pelicula.director}}</li>
    <li>Sinopsis: {{pelicula.sinopsis|safe}} </li>
</ul>
<a href="{% url "listado_peliculas" %}">Volver al listado</a>


{% endblock main %}