{% extends "compartidos/base.html" %}

{% block head %}<title>Peliculas</title>{% endblock head %}

{% block h1_header %}
Peliculas
{% endblock h1_header %}

{% block main  %}
<a class="navbar-brand" href="{% url "agregar_pelicula" %}">Agregar película</a>

<form action="">
        {{ formulario }}
    <input type="submit" value="Buscar">
</form>

{% if peliculas_encontradas  %}
<ul>
    {% for pelicula in peliculas_encontradas %}
    <li>
        {{pelicula}} | <a href="{% url "detalle_pelicula" pelicula.id %}">+</a> | <a href="{% url "editar_pelicula" pelicula.id %}">Editar</a> | <a href="{% url "eliminar_pelicula" pelicula.id %}">Eliminar</a> 
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron peliculas</p>
{% endif %}
{% endblock main  %}