{% extends "compartidos/base.html" %}

{% block head %}<title>Perfil</title>{% endblock head %}

{% block h1_header %}
Usuario:
<br>
<p> {{user.first_name}}</p> 
<br>
<img src="{{request.user.infoextra.avatar.url}}" alt="" srcset="" height="100px">

{% endblock h1_header %}

{% block main %}

<ul>
    <li>Nombre: {{user.first_name}}</li>
    <li>Apellido: {{user.last_name}}</li>
    <li>Email: {{user.email}}</li>   

</ul>
<a href="{% url "editar_perfil"%}"> Editar</a> | <a href="{% url "editar_pass"%}">Cambiar contraseña</a> | <a href="{% url "inicio"%}">Volver</a>

{% endblock main %}