{% extends "compartidos/base.html" %}

{% block head %}<title>Editar perfil</title>{% endblock head %}

{% block h1_header %}
Editar perfil
{% endblock h1_header %}

{% block main  %}

<form action="{% url "editar_perfil" %}" method="POST">
    {% csrf_token %}
    <table>
        {{formulario}}        
    </table>   
    <input type="submit" value="Guardar cambios">
    <br>
    <button type= "submit" class="btn btn-warning" href={% url "editar_pass" %}> Cambiar contraseña </button>

</form>
{% endblock main  %}